
.container {
	text-align: center;
}

#habitButtons{
	display: inline-block;
}

.btn-div{
	display: inline-block;
	margin-bottom: 50px;
}

.btn-div:nth-child(odd){
	margin-right: 25px;
}

.btn-div:nth-child(even){
	margin-left: 25px;
}

.btn-div:last-child:last-child(odd){
	margin-left: 0px;
	margin-right: 0px;
}

.hbtn {
	border-radius: 50%;
	width: 125px;
	height: 125px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 200;
	font-size: 55px;
}

.hbtn-habit {
	color: #fff;
}

.btn-new-habit {
	color:#999;
	background-color: #fff;
	border-style: dashed;
	border-width: 2px;
	border-color: #999;
}

.cB {
	color: #2C95E6;
	background-color: #fff;
	border-width: 2px;
	border-color: #2C95E6;
}

.cB.hComplete {
	color: #fff;
	background-color: #2C95E6;
}

.cA {
	color: #DEC12A;
	background-color: #fff;
	border-width: 2px;
	border-color: #DEC12A;
}

.cA.hComplete {
	color: #fff;
	background-color: #DEC12A;
}

.cG {
	color: #0D923B;
	background-color: #fff;
	border-width: 2px;
	border-color: #0D923B;
}

.cG.hComplete {
	color: #fff;
	background-color: #0D923B;
}

.cR {
	color: #CC3737;
	background-color: #fff;
	border-width: 2px;
	border-color: #CC3737;
}

.cR.hComplete {
	color: #fff;
	background-color: #CC3737;
}

.cP {
	color: #6459E4;
	background-color: #fff;
	border-width: 2px;
	border-color: #6459E4;
}

.cP.hComplete {
	color: #fff;
	background-color: #6459E4;
}


.rank-circ{
	border-radius: 50%;
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 2px;
	margin-left: 2px;
}

.f-circ {
	background-color: #999;
}

.e-circ {
	background-color: #fff;
	border-style: solid;
	border-width: 2px;
	border-color: #999;
}

/*Graphs*/

.chart {
  background: white;
  width: 100%;
  height: 100px;
  border-bottom: 1px dotted #555;
  padding: 20px 20px 0px 0;
}

#habitStats {
  /* background: #ccc; */

  display: flex;
  align-items: center;
  justify-content: center;
}

#habitStats, html {
  height: 100%;
}
